{% extends 'front/base.html.twig' %}

{% block title %}{{ parent() }}Mes Voitures{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        <div class="d-flex">
            {% for car in cars %}
                <div class="card mr-2" style="width: 18rem;">
                    <img src="{{ car.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.marque }}</h5>
                        <p class="card-text">
                            {{ car.matricule }} <span class="text-muted">| {{ car.nombrePlace < 10 ? '0' ~ car.nombrePlace : car.nombrePlace }} Places</span>
                            <br>
                            <span class="font-italic">Conduit par <span class="text-info">{{ car.user.lastname }}</span></span>
                        </p>
                        <a href="#" class="btn btn-primary">Prends moi vite :)</a>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
    <div class="col-9">
        {{ form_start(form) }}
        <div class="d-none">
        {{ form_row(form.user) }}
        </div>
        {{ form_row(form.marque) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(form.nombrePlace) }}
            </div>
            <div class="col-6">
                {{ form_row(form.matricule) }}
            </div>
        </div>
        {{ form_row(form.image) }}

        <span class="text-info">Emplacement</span>
        <div class="row mt-2">
            <div class="col-6">
                {{ form_row(form.latitude) }}
            </div>
            <div class="col-6">
                {{ form_row(form.longitude) }}
            </div>
        </div>

        <button class="btn btn-primary">
            <i class="fa fa-check"></i>
            {{ button_label|default('Enregistrer') }}
        </button>
        <a href="{{ path('voiture_index') }}" class="btn btn-light">
            Annuler
        </a>
        {{ form_end(form) }}
    </div>
</div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('driver') }}
{% endblock %}
