{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
<div class='container mt-4'>
    <h1>Voiture index</h1>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Marque</th>
                <th scope="col">NombrePlace</th>
                <th scope="col">Matricule</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.nombrePlace }}</td>
                <td>{{ voiture.matricule }}</td>
                <td>
                 <div class="d-flex justify-content-center">
                    <a href="{{ path('voiture_show', {'id': voiture.id}) }}" class="btn btn-primary  mr-3">Show</a>
                    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}" class="btn btn-primary  mr-3">Edit</a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="d-flex justify-content-center">
    <a href="{{ path('voiture_new') }}" class="btn btn-primary " >Create new</a>
    </div>
</div>    
{% endblock %}
